<div class="col mb-1">
    <div class="card">
        <h5 class="card-header text-bg-dark d-flex justify-content-between align-items-center">
            Parts of Speech
            <button id="btn_transform" class="btn btn-outline-dark" disabled>.</button>
        </h5>
        <span id="note_pos" class="card-body"></span>
    </div>
</div>

<script>
    // init color for text
    let TextColors = [
        { type: "X", description: "Undefined", bg_color: "transparent", text_color: "black" },
        { type: "NUM", description: "Numbers", bg_color: "orangered", text_color: "white" },
        { type: "PART", description: "Particles", bg_color: "green", text_color: "white" },
        { type: "SCONJ", description: "Subordinating Conjunctions", bg_color: "lightblue", text_color: "#000080" },
        { type: "PUNCT", description: "Punctuation Marks", bg_color: "yellow", text_color: "#654321" },
        { type: "PRON", description: "Pronouns", bg_color: "purple", text_color: "white" },
        { type: "AUX", description: "Auxiliary Verbs", bg_color: "orange", text_color: "white" },
        { type: "DET", description: "Determiners", bg_color: "pink", text_color: "#4B0082" },
        { type: "ADJ", description: "Adjectives", bg_color: "brown", text_color: "white" },
        { type: "SYM", description: "Symbols", bg_color: "gray", text_color: "white" },
        { type: "INTJ", description: "Interjections", bg_color: "black", text_color: "white" },
        { type: "ADV", description: "Adverbs", bg_color: "darkgreen", text_color: "beige" },
        { type: "CCONJ", description: "Coordinating Conjunctions", bg_color: "cyan", text_color: "#444444" },
        { type: "PROPN", description: "Proper Nouns", bg_color: "magenta", text_color: "white" },
        { type: "VERB", description: "Verbs", bg_color: "teal", text_color: "white" },
        { type: "NOUN", description: "Nouns", bg_color: "navy", text_color: "white" },
        { type: "ADP", description: "Adpositions or Prepositions", bg_color: "olive", text_color: "white" },
    ];

    // render data of card Parts of Speech
    for (let i = 1; i < TextColors.length; i++) {
        $(`<h6 style="background-color: ${TextColors[i].bg_color}; color: ${TextColors[i].text_color}; padding: 0.5em">${TextColors[i].type} - ${TextColors[i].description}</h6>`).appendTo("#note_pos");
    }
</script>