<div class="container">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="d-flex justify-content-center">
                    <img src="/Tutorial-1.png" class="d-block w-75" alt="Step 1" />
                </div>
                <div class="carousel-caption d-none d-md-block bg-white bg-opacity-50">
                    <h5>Step 1</h5>
                    <p>Input your text</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="d-flex justify-content-center">
                    <img src="/Tutorial-2.png" class="d-block w-75" alt="Step 2" />
                </div>
                <div class="carousel-caption d-none d-md-block bg-white bg-opacity-50">
                    <h5>Step 2</h5>
                    <p>Click button "Transform"</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="/Tutorial-3.png" class="d-block w-75" alt="Step 3" />
                </div>
                <div class="carousel-caption d-none d-md-block bg-white bg-opacity-50">
                    <h5>Step 3</h5>
                    <p>Wait for the result to appear then check with labels below to find part of each word.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="/Tutorial-4.png" class="d-block w-75" alt="Check History" />
                </div>
                <div class="carousel-caption d-none d-md-block bg-white bg-opacity-50">
                    <h5>Check History</h5>
                    <p>You can open History to show your old transformed texts.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<script>
    // toggle active page
    $("#tutorial_page").addClass("active")
</script>